<md-content id="top" class="md-default-theme background1" parallax-background parallax-ratio="0.4">

  <div class="container main-title">
    <h1>Estadísticas de curso <span class="lead"></span></h1>
  </div>

  <div class="main-container">
    <div class="main-subcontainer">


      <h3><span class="capitalize center">{{show.course.year}} - {{show.course.division}}</span></h3>
      <md-divider></md-divider>

      <p class="acta-title"><u>Estadísticas de asistencia</u></p>
      <br>

      <p ng-if="show.totalInassistance == 0" class="help-text">
          El curso seleccionado no tiene alumnos cargados aún. <br>
          Para pasar asistencia, por favor, previanemte agregá alumnos a este curso.
      </p>

<div ng-if="show.totalInassistance > 0">
        <div layout="row">
          <div flex>
            <canvas id="radar" class="chart chart-radar"
              chart-data="show.data1" chart-labels="show.days">
            </canvas>
          </div>
          <div flex>
            <canvas id="radar" class="chart chart-radar"
              chart-data="show.data2" chart-labels="show.months">
            </canvas>
          </div>
        </div>

        <div layout="row">
          <div flex>
            <small><b>Distribución de inasistencias por día</b></small>
            <canvas id="radar" class="chart chart-line"
              chart-data="show.data1" chart-labels="show.days">
            </canvas>
          </div>
        </div>
</div>

    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Día</th>
              <th>Inasistencias</th>
              <th>Porcentaje</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="day in show.dayAssistanceTotal track by $index">
              <td>{{show.days[$index]}}</td>
              <td>{{day}}</td>
              <td>{{day / show.totalInassistance * 100 | number:2}}%</td>
            </tr>
          </tbody>
        </table>
      </div><!--end of .table-responsive-->
    </div>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br>

<div ng-if="show.totalInassistance > 0">
        <div layout="row">
          <div flex>
            <small><b>Distribución de inasistencias por mes</b></small>
            <canvas id="radar" class="chart chart-line"
              chart-data="show.data2" chart-labels="show.months">
            </canvas>
          </div>
        </div>
</div>

    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Mes</th>
              <th>Inasistencias</th>
              <th>Porcentaje</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="month in show.monthAssistanceTotal track by $index">
              <td>{{show.months[$index]}}</td>
              <td>{{month}}</td>
              <td>{{month / show.totalInassistance * 100 | number:2}}%</td>
            </tr>
          </tbody>
        </table>
      </div><!--end of .table-responsive-->
    </div>
<div>
  <md-button ui-sref="app.main" class="md-raised md-primary"> Volver </md-button>
</div>

    </div>
<br>
  </div>


</md-content>


