<md-content id="top" class="md-default-theme background1" parallax-background parallax-ratio="0.4">

  <div class="container main-title">
    <h1>Seleccione qué desea hacer</h1>
  </div>

  <div class="main-container">

    <div class="main-subcontainer" ng-if="!user.role">
        <h5>Debes ingresar con tus credenciales al sistema para visualizar todas las opciones.</h5>
    </div>

    <div class="main-subcontainer" ng-if="user.role">

      <md-grid-list
            md-cols-sm="12" md-cols-md="12" md-cols-gt-md="12"
            md-row-height-gt-md="4:2" md-row-height="4:2"
            md-gutter="12px" md-gutter-gt-sm="8px" >

        <md-grid-tile ng-if="user.role != 'profesor'" ui-sref="app.assistance[set]" class="main-grid-item concrete hvr-glow"
            md-rowspan="6" md-colspan="12" md-colspan-sm="12">
          <md-icon class="main-icon" md-svg-icon="action:event"></md-icon>
          <md-grid-tile-footer>
            <p>Gestión de asistencias</p>
          </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile ui-sref="app.students[list]" class="main-grid-item green hvr-glow"
            md-rowspan="6" md-colspan="6" md-colspan-sm="12">
          <md-icon class="main-icon" md-svg-icon="action:trending_up"></md-icon>
          <md-grid-tile-footer>
            <p>Reportes y estadísticas por alumno</p>
          </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile ui-sref="app.courses[list]" class="main-grid-item yellow hvr-glow"
            md-rowspan="6" md-colspan="6" md-colspan-sm="12">
          <md-icon class="main-icon" md-svg-icon="action:trending_up"></md-icon>
          <md-grid-tile-footer>
            <p>Reportes y estadísticas por curso</p>
          </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile ng-if="user.role == 'admin' || user.role == 'director'" ui-sref="app.students[create]" class="main-grid-item darkBlue hvr-glow"
            md-rowspan="6" md-colspan="6" md-colspan-sm="12">
          <md-icon class="main-icon" md-svg-icon="action:assignment_ind"></md-icon>
          <md-grid-tile-footer>
            <p>Gestión de alumnos</p>
          </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile ng-if="user.role == 'admin' || user.role == 'director'" ui-sref="app.courses[create]" class="main-grid-item red hvr-glow"
            md-rowspan="6" md-colspan="6" md-colspan-sm="12">
          <md-icon class="main-icon" md-svg-icon="action:assignment"></md-icon>
          <md-grid-tile-footer>
            <p>Gestión de cursos</p>
          </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="main-grid-item concrete hvr-glow"
            md-rowspan="6" md-colspan="12" md-colspan-sm="12">
          <md-icon class="main-icon" md-svg-icon="action:input"></md-icon>
          <md-grid-tile-footer>
            <p>Desconectarme</p>
          </md-grid-tile-footer>
        </md-grid-tile>

      </md-grid-list>

    </div>
  </div>

</md-content>
