<md-content id="top" class="md-default-theme background1" parallax-background parallax-ratio="0.4">

  <div class="container main-title">
    <h1>Seleccione qué desea hacer</h1>
  </div>

  <div class="main-container">
    <div class="main-subcontainer">

      <md-grid-list
            md-cols-sm="12" md-cols-md="12" md-cols-gt-md="12"
            md-row-height-gt-md="4:2" md-row-height="4:2"
            md-gutter="12px" md-gutter-gt-sm="8px" >

        <md-grid-tile ui-sref="app.assistance[set]" class="main-grid-item concrete hvr-glow"
            md-rowspan="6" md-colspan="12" md-colspan-sm="12">
          <md-icon class="main-icon" md-svg-icon="action:assignment_late"></md-icon>
          <md-grid-tile-footer>
            <h3>Pasar asistencia</h3>
          </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile ui-sref="app.students[list]" class="main-grid-item green hvr-glow"
            md-rowspan="6" md-colspan="6" md-colspan-sm="12">
          <md-icon class="main-icon" md-svg-icon="action:assignment"></md-icon>
          <md-grid-tile-footer>
            <h3>Ver información de alumno</h3>
          </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile ui-sref="app.courses[list]" class="main-grid-item yellow hvr-glow"
            md-rowspan="6" md-colspan="6" md-colspan-sm="12">
          <md-icon class="main-icon" md-svg-icon="action:assignment_turned_in"></md-icon>
          <md-grid-tile-footer>
            <h3>Ver información de curso</h3>
          </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile ui-sref="app.students[create]" class="main-grid-item darkBlue hvr-glow"
            md-rowspan="6" md-colspan="6" md-colspan-sm="12">
          <md-icon class="main-icon" md-svg-icon="action:assignment_ind"></md-icon>
          <md-grid-tile-footer>
            <h3>Gestión de alumnos</h3>
          </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile ui-sref="app.courses[create]" class="main-grid-item red hvr-glow"
            md-rowspan="6" md-colspan="6" md-colspan-sm="12">
          <md-icon class="main-icon" md-svg-icon="action:assignment_late"></md-icon>
          <md-grid-tile-footer>
            <h3>Gestión de cursos</h3>
          </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="main-grid-item concrete hvr-glow"
            md-rowspan="6" md-colspan="12" md-colspan-sm="12">
          <md-icon class="main-icon" md-svg-icon="action:assignment_late"></md-icon>
          <md-grid-tile-footer>
            <h3>Desconectarme</h3>
          </md-grid-tile-footer>
        </md-grid-tile>

      </md-grid-list>

    </div>
  </div>

</md-content>
