<md-dialog aria-label="Mango (Fruit)">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Turno</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-icon="content:clear" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div>
      <p>
          Fecha del turno: {{time}}
      </p>
      <img style="margin: auto; max-width: 200px;" alt="Lush mango tree" src="assets/images/logo.png">
      <p>
        The highest concentration of Mangifera genus is in the western part of Malesia (Sumatra, Java and Borneo) and in Burma and India. While other Mangifera species (e.g. horse mango, M. foetida) are also grown on a more localized basis, Mangifera indica&mdash;the "common mango" or "Indian mango"&mdash;is the only mango tree commonly cultivated in many tropical and subtropical regions.
      </p>
      <p>
        It originated in Indian subcontinent (present day India and Pakistan) and Burma. It is the national fruit of India, Pakistan, and the Philippines, and the national tree of Bangladesh. In several cultures, its fruit and leaves are ritually used as floral decorations at weddings, public celebrations, and religious ceremonies.
      </p>
    </div>
  </md-dialog-content>

  <div class="md-actions" layout="row">
    <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
      Volver a turnos
    </md-button>
    <span flex></span>
    <md-button ng-click="answer('not useful')" >
     No me sirve
    </md-button>
    <md-button ng-click="answer('useful')" style="margin-right:20px;" >
      Me sirve
    </md-button>
  </div>
  </form>

</md-dialog>
