<md-content id="top" class="md-default-theme background1" parallax-background parallax-ratio="0.4">

  <div class="container main-title">
    <h1>Alta de alumnos <span class="lead"></span></h1>
  </div>

  <div class="main-container">
    <div class="main-subcontainer">


<md-list>
  <md-subheader class="md-no-sticky">Alumno</md-subheader>

  <md-divider></md-divider>

      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Nombres</label>
          <input ng-model="user.firstName">
        </md-input-container>
        <md-input-container flex>
          <label>Apellidos</label>
          <input ng-model="theMax">
        </md-input-container>
      </div>

      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Edad</label>
          <input ng-model="user.firstName">
        </md-input-container>
        <md-input-container flex>
          <label>Teléfono</label>
          <input ng-model="user.firstName">
        </md-input-container>
        <md-input-container flex>
          <label>Celular</label>
          <input ng-model="user.firstName">
        </md-input-container>
      </div>


      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Mail del alumno</label>
          <input ng-model="user.firstName">
        </md-input-container>
      </div>


      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Mail de los padres</label>
          <input ng-model="user.firstName">
        </md-input-container>
      </div>


        <div class="acta-save-container">
          <md-button ng-click="assistanceSet.saveActa()" class="md-raised md-warn"> Guardar alumno </md-button>
        </div>

        <div>
          <md-button ui-sref="app.main" class="md-raised md-primary"> Volver </md-button>
        </div>


    </div>
  </div>

</md-content>
