<md-content id="top" class="md-default-theme background1" parallax-background parallax-ratio="0.4">

  <div class="container main-title">
    <h1>STAINE <span class="lead"></span></h1>
  </div>


  <div class="main-container">
    <div class="main-subcontainer">

    <div class="col-sm-12">
      <h1>Registro de nueva cuenta</h1>
      <!--
      <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
      <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>
      -->
    </div>

      <form class="form" name="form" ng-submit="register(form)" novalidate>


        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Rango de cuenta</label>

          <input type="text" name="name" class="form-control" value="Preceptor" disabled
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Nombre</label>

          <input type="text" name="name" class="form-control" ng-model="user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Contraseña</label>

          <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login btn-success" type="submit">
            Registrar
          </button>
          <a class="btn btn-default btn-lg btn-register btn-warning" href="/login">
            Ingresar con mi cuenta
          </a>
        </div>

      </form>


    </div>
  </div>

</md-content>
