<md-content id="top" class="md-default-theme background1" parallax-background parallax-ratio="0.4">

  <div class="container main-title">
    <h1>Acta de Asistencias <span class="lead"></span></h1>
  </div>

  <div class="main-container">
    <div class="main-subcontainer">




<md-list>


<md-input-container>
  <md-select ng-model="assistanceSet.selectedCourse" ng-change="assistanceSet.filterStudents()" placeholder="Selección de curso">
    <md-option ng-value="course" ng-repeat="course in assistanceSet.courses">{{ course.year }} - {{ course.division }}</md-option>
  </md-select>
</md-input-container>


  <p ng-if="!assistanceSet.selectedCourse" class="help-text">Seleccione un curso para pasar asistencia</p>

  <p ng-if="assistanceSet.selectedCourse && !assistanceSet.selectedCourse.students.length" class="help-text">
      El curso seleccionado no tiene alumnos cargados aún. <br>
      Para pasar asistencia, por favor, previanemte agregá alumnos a este curso.
  </p>

<span ng-if="assistanceSet.selectedCourse.students.length">
  <p class="acta-title">Acta de Asistencia <span class="acta-subtitle">
    creada por <b>{{ assistanceSet.currentUser.name }}</b>
  </span></p>

  <p class="acta-course">{{ assistanceSet.selectedCourse.year }} - {{ assistanceSet.selectedCourse.division }} |
    <span class="acta-date"> {{ assistanceSet.selectedDate | date:'EEEE dd MMMM yyyy - dd/MM/yyyy' }}
      <span type="text" datepicker-popup ng-model="assistanceSet.selectedDate" is-open="assistanceSet.status.opened" current-text="Hoy" clear-text="Borrar" close-text="Cerrar">
        <button type="button" class="btn btn-default" ng-click="assistanceSet.open($event)">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </span>
  </p>

  <md-divider></md-divider>

  <md-list-item ng-repeat="student in assistanceSet.students | filter: { course: assistanceSet.selectedCourse._id } as filteredStudents">
    <p>
      <span class="student-number">{{ $index+1 }} -   </span>
      <span class="student-surname">{{ student.lastname }}, </span>
      <span class="student-name">{{ student.firstname }}</span>
    </p>
    <md-checkbox class="md-secondary" ng-model="student.check"></md-checkbox>
    <md-divider></md-divider>
  </md-list-item>
</md-list>

</span>

<div class="acta-save-container">
  <md-button ng-if="assistanceSet.selectedCourse && assistanceSet.selectedCourse.students.length"
  ng-click="assistanceSet.saveActa()" class="md-raised md-warn"> Guardar acta de asistencia </md-button>
</div>

<div>
  <md-button ui-sref="app.main" class="md-raised md-primary"> Volver </md-button>
</div>



    </div>
  </div>

</md-content>

